<h1>Welcome to the KIEI-924 Casino!</h1>

<p>
  <img src="http://golearntocode.com/images/dice/<%= @die1 %>.png">
  <img src="http://golearntocode.com/images/dice/<%= @die2 %>.png">
</p>

<p>
  <a href="/dice/roll" class="btn btn-success">Roll again!</a>
</p>