<div class="row">
  <% for card in @deck %>
    <div class="col-sm-2">
      <img class="img-fluid" src="http://golearntocode.com/images/cards/<%= card[0] %>_of_<%= card[1] %>.png">
    </div>
  <% end %>
</div>